main {
    width: 100%;
    height: calc(100vh);
    background-color: #152035;
    margin-top: 0px;
    background-image: url(), url(../images/cubes.png);
    background-size: 90vh, auto; /* Adjust the values accordingly */
    background-repeat: no-repeat, repeat;
    background-position: bottom, center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

main .main-intro h1 {
    font-size: 96px;
    line-height: 106px;
}

main p {
    font-size: 18px;
    line-height: 30px;
}

main a {
    margin-top: 30px;
    font-size: 18px;
    display: block;
    background-color: var(--site-colour-01);
    padding: 10px, 20px;
    width: fit-content;
}

main .main-quotes p {
    border-left: 4px solid var(--site-colour-01);
    padding-left: 20px;
    text-align: left;
}


main .main-quotes p:nth-child(2) {
    margin-top: 10vh;
    margin-left: 130px;
}

main .main-intro {
    position: relative;
    right: 25vh;
    padding-bottom: 8vh;
}

main .main-quotes {
    position: relative;
    left: 15vh;
    padding-bottom: 8vh;
    Display: block;
}


/* CATEGORY SECTION */

.index-category {
    width: 100%;
    padding: 60px 0;
    background-color: #152035;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    position: relative; /* Add position relative */
    z-index: 100;
}

.index-category:before {
    content: ""; /* Create a pseudo-element for the blurred background */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/cubes.png); /* Set the background image */
    background-size: auto; /* Adjust the values accordingly */
    background-repeat: repeat;
    background-position: center;
    filter: blur(8px); /* Add the blur effect to the background */
    -webkit-filter: blur(4px);
    z-index: -1; /* Send the pseudo-element to the back */
}

.index-category > p {
    color: white;
    text-align: center;
    padding: 40px;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: 22px;
}

.index-category-box {
    width: 200px;
    height: 200px;
    background-color: yellow;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 150;
    position: relative; /* Add position relative */
}

.index-category-box:nth-child(2) {
    background-image: url(../images/webdevelopment-sc.png);
}

.index-category-box:nth-child(3) {
    background-image: url(../images/football-app-sc.png);
}

.index-category-box:nth-child(4) {
    background-image: url(../images/Game-sc.png);
}

.index-category-box:nth-child(5) {
    background-image: url(../images/3d-model-sc.png);
}

.index-category-box:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.index-category-box h3 {
    text-align: center;
    text-shadow: -2px 2px 4px #000;
    line-height: 28px;
    font-size: 22px;
    transition: color 0.3s ease;
}

.index-category-box:hover h3 {
    color: var(--site-colour-01-hover);
}



/* RESPONSIVENESS */
@media only screen and (max-width: 1000px) {
    main {
        background-image: url(), url(../images/cubes.png);
    }

    .main-intro {
        text-align: center; /* Center align the text within .main-intro */
    }
    
    .button {
        display: inline-block; /* Make it a block-level element */
        background-color: var(--site-colour-01);
        padding: 10px 20px;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        width: fit-content;
        margin-top: 30px;
    }

    main .main-intro {
        position: relative;
        right: 0vh;
        padding-bottom: 0vh;
    }
    
    main .main-quotes {
        display: none;
    }
}

@media only screen and (max-width: 760px) {
    main .main-quotes {
        display: none;
    }
}
